# Chroot directory name and size of the image, eg. 500M, 3G.
# Make sure your android filesystem allows for files >2G
CHROOTDIRNAME=debian
IMAGESIZE=1G

# Debian variant and architecture You may want to [avoid
# testing](https://www.reddit.com/r/debian/comments/503ja3/issues_with_debian_on_android_phone/)
# for now, see [here](https://bugs.kali.org/view.php?id=3012) for a fix ?
RELEASE=stable
VARIANT=minbase
ARCH=armel

# On Linux: buid path and free loop
BUILDPATH=.

# On Android: target storage and free loop
ANDROIDSTORAGE=/storage/sdcard0
